@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
  <div class="round-info">
    <div class="current-round">
      Round <span style="margin-left: 12px;">@CurrentRound</span>
    </div>
    <div class="round-break @(NextRound > 0 ? "" : "hide")">
      Break, Next round in: <span style="margin-left: 12px;">@NextRound</span>
    </div>
  </div>
  <div class="ammo">
    <div>
      <span style="margin-right: 12px;">@Player.WeaponController.Ammo</span>
      /
      <span style="margin-left: 12px;">@Player.WeaponController.MaxAmmo</span>
    </div>
  </div>
</root>

@code
{
  [Property] PlayerComponent Player { get; set; }
  GameManager GameManager;
  int CurrentRound = 1;
  float NextRound = 0f;

  /// <summary>
  /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
  /// </summary>
  protected override int BuildHash() => System.HashCode.Combine(Player.WeaponController.Ammo,
  Player.WeaponController.MaxAmmo, CurrentRound, NextRound);

  protected override void OnStart()
  {
    GameManager = Scene.GetComponentInChildren<GameManager>();
  }

  protected override void OnUpdate()
  {
    CurrentRound = GameManager.CurrentRound;
    NextRound = MathF.Round(GameManager.NextRound);
  }
}