@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
  <div class="round-info">
    <div class="current-round">
      Round <span>@CurrentRound</span>
    </div>
    <div class="round-break @(NextRound > 0 ? "" : "hide")">
      <span>Choose your upgrades</span>
      <span>Next round in @(NextRound)</span>
    </div>
  </div>
  @if (PlayerClient.PlayerCharacter.IsValid())
  {
    <div class="ammo">
      <span>@(PlayerClient.PlayerCharacter?.WeaponController.Ammo)</span>/<span>@(PlayerClient.PlayerCharacter?.WeaponController.MaxAmmo)</span>
    </div>
  }
</root>

@code
{
  [Property] PlayerClient PlayerClient { get; set; }
  GameManager GameManager;
  int CurrentRound = 1;
  float NextRound = 0f;

  protected override int BuildHash() => System.HashCode.Combine(PlayerClient.PlayerCharacter?.WeaponController.Ammo,
  PlayerClient.PlayerCharacter?.WeaponController.MaxAmmo, CurrentRound, NextRound);

  protected override void OnStart()
  {
    GameManager = Scene.GetComponentInChildren<GameManager>();
  }

  protected override void OnUpdate()
  {
    CurrentRound = GameManager.CurrentRound;
    NextRound = MathF.Round(GameManager.NextRound);
  }
}